
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;0,800;1,400&family=Roboto&display=swap');
/* Estilo CSS Geral */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: 'Opens Sans',sans-serif ;
    font-weight: 400;
}



/* ================= VARIABLE ================ */
:root {
  --primary-color: #c255be;
  --primary-color-alt:#c255be;
  --second-color: #2e0158;
  --second-color-alt: rgba(78, 7, 110, 0.65);
  --third-color: hsl(157, 64%, 43%);
  --white-color: #f4f4f4;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: rgba(55, 2, 65, 0.719);
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    /* color:#c255be;
    font-size: 1.85rem; */
    transition: color .3s ease-in;
}

a:hover{
    /* color:#6027ca;
    text-decoration: wavy; */
}

.bx {
    font-size: 2.5rem;
  }
/*! ================= HEADER ================ */
header {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    background-color: var(--dark-color);
    background: linear-gradient(-90deg,#4d2996,#c255be);
    padding: 0.5rem 2rem;
  }
  .company-logo {
    font-size: 3rem;
    color: #4d2996;
    font-family: "Bebas Neue",sans-serif;
    background: -webkit-linear-gradient(
      120deg,
        var(--second-color),
        var(--primary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.navbar{
    display: flex;
}

  .nav-items {
    display: flex;
    justify-content: space-between;
    
  }
  .nav-item {
    display: flex;
    margin: 1rem 2rem;
  }
  .nav-link {
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    position: relative;
    background: -webkit-linear-gradient(
      var(--primary-color-alt),
      var(--primary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nav-link::before {
    content: "";
    background: linear-gradient(var(--primary-color), var(--primary-color-alt));
    width: 100%;
    height: 0.05rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 150ms;
  }
  .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .menu-toggle {
    display: none;
  }

  .bx-menu,
  .bx-x {
    cursor: pointer;
    background: -webkit-linear-gradient(
      120deg,
      var(--primary-color-alt),
      var(--primary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: none !important;
  }

 

/*! ================= BODY ================ */
body{
    /* background-image: url("./assets/img/dev-purple.png"); */
    background: linear-gradient(90deg,#8349f4,#c255be);
    /* background-color: rgba(43, 0, 56, 0.589) ; */
    color: #f4f4f4;
    width: 100vw;
    overflow-x: hidden;
}

h1,h2{
    font-family: 'Bebas Neue',sans-serif;
    background: -webkit-linear-gradient(
      120deg,
        var(--second-color),
        var(--dark-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 1.5rem;

}
/*Delimitando o mínimo e o máximo que o h1 pode expandir conforme a tela usada*/
h1{
    font-size: clamp(2.5rem,3vw, 3.5rem);
}
h2{
    font-size: max(2vw,2rem);
}

hr{
    border: 2px solid #4d2996;
    border-radius: 3px;
    background-color: #4d2996;
    width: 70%;
    margin: 0 auto;
}

center{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color
} 
.mgbt-10{
    text-align: center;
    margin-bottom: 10px;
    color: #2e0158;
}

/*! ================= FOOTER ================ */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin: 0.5rem;
}
footer p{
    color:#2e0158;
}

footer a,img{
    margin-right: 1rem;
    margin-left:1rem;
    margin-bottom: 1rem;
}

.tm-social{
    width: 3vw;
    height: 3vw;
    padding: 2px;
    /* filter: invert(100%);
    -webkit-filter: invert(100%); */
    filter: invert(10%) sepia(35%) saturate(5819%) hue-rotate(263deg) brightness(90%) contrast(117%);
  
}

.linkfoot:hover{
    filter: invert(58%) sepia(83%) saturate(3369%) hue-rotate(272deg) brightness(83%) contrast(79%);
    transition: color .3s ease-in;
}


/*=========== Estilo da página Index ===========*/

.aboutme{
    width: 65vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    background: linear-gradient(-90deg,#9467ee,#c255be);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 2px 2px 5px rgb(19, 7, 7);
}
.texto{
    display: flex;
    flex-direction: column;
    font-size: max(1rem);
    color: var(--second-color);
    gap: 1rem;
    padding-left: 20px;
}
.fotoperfil{
    border-radius: 50%;
    width: 20vw;
    margin: 1rem;
    border: 0px solid #f4f4f4;
    box-shadow: 2px 2px 5px rgb(19, 7, 7);
}

.video{
    width:45vw;
    aspect-ratio: 3/2;
    display: block;
    margin: 1rem auto;
    border-radius: 30px;
}
/*? Estilo da página Contato */

.contato {
    display: flex;
    /* justify-content:space-evenly;
    align-items: center;
    width: 95vw;
    column-gap: 2rem;
    margin: auto 0;
     */
    align-items: center;
    flex-direction: row
    gap: 1rem;
    width: 65vw;
    margin: 2rem auto;
}
.contato:before{
    content: "";
    border: 2px solid #4d2996;
    border-radius: 3px;
    width: 2px;
    height: 100;
    align-self: stretch;
    background-color: #4d2996;
    /* border-image: linear-gradient(45deg, #3f51b5, #cddc39) 1; */
}

.formulario {
    /* display: flex;
    align-self: center;
    
    height: 50vh; */
    flex: 1;
    order:-1;
    min-width: 300px;
    max-width: 50%;
    padding: 2rem 3rem;
    
}

input, textarea {
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 0.3rem;
}

.mapa {
    /* width: 20vw;
    height: 25vw;
    display: flex;
    flex-direction: column; */
    flex: 1;
    width:50%;
    padding: 2rem 2rem;
}
.mapabox{
    width: 30vw;
}

.mapa p{
    width: 80vw;
    font-size: 80%;
    margin-bottom: 10px;
}
.mapa h3{
    font-weight: 600;
    font-size: 120%;
    margin-bottom: 5px;
}

.enviar {
    width: 75%;
    margin: 1rem auto;
    display: block;
    padding: 1rem 0;
    border-radius: 16px;
    border: 3px solid #5d249e;
    background-color: transparent;
    color: #f4f4f0;
    font-size: 1.275rem;
    transition: background-color .3s ease-out;
}

.enviar:hover {
    background-color: #c255be;
}

/*! Responsividade para celular */

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1rem;
      }
    header {
        padding: 0.5rem 1rem;
    }
    .navbar{
        background-color: var(--dark-color);
        position: absolute;
        top: 4.5rem;
        right: 0;
        width: 100%;
        height: 100;
        display: flex;
        justify-content: center;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 500ms;
    }
    .show-navbar {
        display: flex;
        transform: scaleY(1);
        transform-origin: top;
        transition: transform 300ms;
      }
      .nav-items {
        display: flex;
        flex-direction: column;
      }
      .nav-item {
        margin: 0.6rem 0;
        padding: 01rem ;
      }
      .menu-toggle {
        display: block;
      }
      .bx-menu {
        display: block !important;
      }
      .show-bx {
        display: block !important;
      }
      .hide-bx {
        display: none !important;
      }
    .aboutme {
      width: 90vw;
      flex-direction: column-reverse;
      background-color: transparent;
      border: 0px solid;
    }
    .texto{
        font-size: 18px;
        padding: 30px;
        border-radius: 15px;
        color:#5d249e;
    }

    .fotoperfil {
        width: 60vw;
        border-radius: 2rem;
        }
    
    .video {
        width: 90vw;
        height:60vw ;
    }

    footer{
        padding: 1rem;
    }

    footer p{
        font-size: 12px;
    }

    .contato {
        
        flex-direction: column;
        align-items: center;
        width: 100vw;   
        margin: 0;
        
    }
    .contato:before{
        content: "";
        align-self: center;
        width: 80vw;
        height: 2px;;
    }

    .formulario {
        margin:0.5rem;
        padding: 0.5rem 0.2rem;
        width: 50vw;
        max-width: 80vw;

    }

    .mapa{
        width:70vw;
        padding: 0.5rem 0.005re
        max-width: 90vw;
        height: 50vh;
    }
    .mapabox{
        width:75vw;
        align-items: center;
        max-width: 100vw;
    }

    .mapa p{
        width: 80vw;
        font-size: 110%;
        margin-bottom: 10px;
    }
    hr{
        margin-top: 10px;
    }

}